@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* for every element in the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

/* for custom variables */
:root{
    --primary-color: #6c63ff;
    --success-color: #00bf8e;
    --warning-color: #f7c94b;
    --danger-color: #f75842;
    --danger-variant-color: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;   /* 1140px on large devices */
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{  
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--danger-color);
    color: var(--color-white);
}

/* ############ Navbar ############ */
nav{
    background: transparent;
    width: 100vw;    /* 100% of the viewport width i.e no matter the what device the navbar will take 100% width of it*/
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;   /* aligns items on X axis */
    align-items: center;   /* aligns items on Y axis */
}
nav button{  /* menu buttons only for smaller screens */
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--color-bg2);
    text-decoration: underline;
}

/* ############ First header ############ */
header{
    position: relative;
    top: 5rem;  /* height of navbar */
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{  
    display: grid;
    grid-template-columns: 1fr 1fr;   /* divide into equal halves */
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header_left p{
    margin: 1rem 0 1.5rem;
}

/* ############ Categories section ############ */