@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* for every element in the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

/* for custom variables */
:root{
    --primary-color: #6c63ff;
    --success-color: #00bf8e;
    --warning-color: #f7c94b;
    --danger-color: #f75842;
    --danger-variant-color: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.826);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;   /* 1140px on large devices */
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{  
    padding: 5rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--danger-color);
    color: var(--color-white);
}


/* ######################## NAVBAR ######################## */
nav{
    background: transparent;
    width: 100vw;    /* 100% of the viewport width i.e no matter the what device the navbar will take 100% width of it*/
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;   /* aligns items on X axis */
    align-items: center;   /* aligns items on Y axis */
}
nav button{  /* menu buttons only for smaller screens */
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--color-bg2);
}
/* js scroll change navbar color */
.window-scroll{
    background: var(--primary-color);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
}


/* ######################## FIRST HEADER ######################## */
header{
    position: relative;
    top: 5rem;  /* height of navbar */
    overflow: hidden;
    height: 70vh;
    margin-bottom: 6rem;
}
.header_container{  
    display: grid;
    grid-template-columns: 1fr 1fr;   /* divide into equal halves */
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header_left p{
    margin: 1rem 0 1.5rem;
}


/* ######################## CATEGORIES SECTION ######################## */
.categories{
    background: var(--color-bg1);
    height: 29rem;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 35% 65%;   /* divide into equal halves */
}
.categories_left p{
    margin: 1rem 2.4rem 1.5rem 0;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 1.2rem;
}
.category{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid #424890;
    border-radius: 2rem;
    transition: var(--transition);
}
.category:hover{
    box-shadow: 0 0.3rem 0.4rem rgba(255, 255, 255, 0.16);
    z-index: 1;
}
.category_icon{
    background: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.9rem;
}
.category:nth-child(2) .category_icon{
    background: var(--danger-color);
}
.category:nth-child(3) .category_icon{
    background: var(--success-color);
}
.category:nth-child(4) .category_icon{
    background: #f7b602;
}
.category:nth-child(6) .category_icon{
    background: var(--danger-variant-color);
}
.category h5{
    margin: 0.9rem 0 0.5rem;
}
.category p{
    font-size: 0.9rem;
}


/* ######################## POPULAR COURSES SECTION ######################## */
.courses{
    margin-top: 2rem;
}
.courses_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* divide into 3 equal columns */
    gap: 2rem;
}
.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    border-color: var(--color-bg2);
    color: var(--color-white);
    position: relative;
    bottom: 1rem;
}
.course_info{
    padding: 2rem;
}
.course_info p{  /* margin is clock wise trbl */
    margin: 1.5rem 0 1.5rem;
    font-size: 0.9rem;
}


/* ######################## FAQs SECTION ######################## */
.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.6);
}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    height: fit-content;
    background: var(--primary-color);
    cursor: pointer;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq h4{
    font-size: 1.1rem;
    line-height: 2rem;
}
/* to open and close the q&a */
.faq p{
    margin-top: 0.5rem;
    display: none;
}
.faq.open p{
    display: block;
}


/* ######################## TESTIMONIALS/REVIEWS SECTION ######################## */
.testimonials_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 3rem;
}
.testimonial{
    padding-top: 1rem;
}
.testimonial_avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 0.5rem;
    border: 0.5rem solid var(--color-bg2);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background: var(--primary-color);
    padding: 1.5rem; 
    margin-top: 3rem; 
    position: relative;
}
.testimonial_body::before{   /* for the triangle */
   content: "";
   display: block;
   background: linear-gradient(135deg, transparent, var(--primary-color), var(--primary-color));
   width: 3rem;
   height: 3rem;
   position: absolute;
   left: 45%;
   top: -1.5rem;
   transform: rotate(45deg);
}


/* ######################## FOOTER SECTION ######################## */
footer{
    background: var(--color-bg1);
    padding-top: 4rem;
}
.footer_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    /* repeat(4, 1fr) */
    gap: 5rem;
}
.footer_container h4{
    margin-bottom: 1.2rem;
}
footer ul li{
    margin-bottom: 0.6rem ;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials{
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.footer_copyright{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid var(--color-bg2);
}
.quicklinks, .privacy{
    font-weight: 200;
}


/* ######################## got to top button ######################## */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 20px; /* Button at the bottom & rhs of the page */
    right: 30px; 
    z-index: 99; 
    background: var(--danger-color); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 90px; 
  }
#topBtn:hover {
    background: #d74c3a; /* Add a dark-grey background on hover */
}


/* $$$$$$$$$$$$$$$$$$$$$ MEDIA QUERIES (TABLET) $$$$$$$$$$$$$$$$$$$$$ */
@media screen and (max-width: 1024px) {   /*anything below 1024px*/
   .container{
    width: var(--container-width-md);
   }
   section{
    padding: 3rem 0;
   }
   h1{
    font-size: 2rem;
   }
    h2{
     font-size: 1.7rem;
    }
    h3{
     font-size: 1.3rem;
    }
    h4{
     font-size: 1rem;
    }
    .btn{
        padding: 0.4rem 1.4rem;
        font-weight: 400;
    }
    /* navbar */
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.6rem;
        color: var(--color-white);
        cursor: pointer;
    }
    nav button#close-menu-btn{
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 4rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.7rem;
        animation: animateNavItems 300ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }
    @keyframes animateNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0deg) rotateX(0deg) scale(1);
            opacity: 1;
        } 
    }
    .nav_menu li a{
        background: var(--primary-color);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }

    /* header */
    header{
        height: 60vh;
        margin-bottom: 7rem;
    }
    .header_container{
        gap: 0;
        padding-bottom: 3rem;
    }
    .header_left p{
        font-size: 1rem;
            margin: 0.5rem 0 1rem;
    }

    /* categories */
    .categories{
        height: auto;
    }
    .categories_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /* popular courses */
    .courses{
        margin-top: 0;
    }
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }

    /* faqs */
    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1rem;
    }
    .faq h4{
        font-size: 1rem;
    }

    /* testimonials => looks good */
    
    /* footer */
    .footer_container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

/* $$$$$$$$$$$$$$$$$$$$$ MEDIA QUERIES (MOBILE) $$$$$$$$$$$$$$$$$$$$$ */
@media screen and (max-width: 670px) {
    .container{
        width: var(--container-width-sm);
    }
    section{
        padding: 3rem 0;
    }
    header{
        height: 120vh;
    }
    .nav_menu{
        right: 3%;
    }
    /* header{
        height: 100vh;
    } */
    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header_left p{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    /* categories */
    .categories_right{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
    }
    .category{
        padding: 1.5rem;
        border-radius: 1rem;
    }
    /* popular courses */
    .courses_container{
        grid-template-columns: 1fr;
    }
    /* faqs */
    .faq{
        margin: 0 0.6rem 0 0.6rem;
    }
    /* testimonials */
    .testimonial_body{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .testimonial_body p{
        font-size: 0.9rem;
    }
    /* footer */
    .footer_container{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .footer_socials{
        justify-content: center;
    }
    /* go to top button */
    #topBtn {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; /* Adjust as needed */
        box-sizing: border-box; /* Ensures that the padding is included in the button's dimensions */
    }
    #topBtn img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

