@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* for every element in the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

/* for custom variables */
:root{
    --primary-color: #6c63ff;
    --success-color: #00bf8e;
    --warning-color: #f7c94b;
    --danger-color: #f75842;
    --danger-variant-color: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.826);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;   /* 1140px on large devices */
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{  
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--danger-color);
    color: var(--color-white);
}


/* ######################## NAVBAR ######################## */
nav{
    background: transparent;
    width: 100vw;    /* 100% of the viewport width i.e no matter the what device the navbar will take 100% width of it*/
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;   /* aligns items on X axis */
    align-items: center;   /* aligns items on Y axis */
}
nav button{  /* menu buttons only for smaller screens */
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--color-bg2);
    text-decoration: underline;
}
/* js scroll change navbar color */
.window-scroll{
    background: var(--primary-color);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
}


/* ######################## FIRST HEADER ######################## */
header{
    position: relative;
    top: 5rem;  /* height of navbar */
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{  
    display: grid;
    grid-template-columns: 1fr 1fr;   /* divide into equal halves */
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header_left p{
    margin: 1rem 0 1.5rem;
}


/* ######################## CATEGORIES SECTION ######################## */
.categories{
    background: var(--color-bg1);
    height: 29rem;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;   /* divide into equal halves */
}
.categories_left p{
    margin: 1rem 0 1.5rem;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 1.2rem;
}
.category{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid #424890;
    border-radius: 2rem;
    transition: var(--transition);
}
.category:hover{
    box-shadow: 0 0.3rem 0.4rem rgba(255, 255, 255, 0.16);
    z-index: 1;
}
.category_icon{
    background: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.9rem;
}
.category:nth-child(2) .category_icon{
    background: var(--danger-color);
}
.category:nth-child(3) .category_icon{
    background: var(--success-color);
}
.category:nth-child(4) .category_icon{
    background: #f7b602;
}
.category:nth-child(6) .category_icon{
    background: var(--danger-variant-color);
}
.category h5{
    margin: 1.5rem 0 0.5rem;
}
.category p{
    font-size: 0.74rem;
}


/* ######################## POPULAR COURSES SECTION ######################## */
.courses{
    margin-top: 5rem;
}
.courses_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* divide into 3 equal columns */
    gap: 2rem;
}
.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    border-color: var(--color-bg2);
    color: var(--color-white);
    position: relative;
    bottom: 1rem;
}
.course_info{
    padding: 2rem;
}
.course_info p{  /* margin is clock wise trbl */
    margin: 1.5rem 0 1.5rem;
    font-size: 0.9rem;
}


/* ######################## FAQs SECTION ######################## */
.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.6);
}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    height: fit-content;
    background: var(--primary-color);
    cursor: pointer;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq h4{
    font-size: 1.1rem;
    line-height: 2rem;
}
/* to open and close the q&a */
.faq p{
    margin-top: 0.5rem;
    display: none;
}
.faq.open p{
    display: block;
}


/* ######################## got to top button ######################## */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 20px; /* Button at the bottom & rhs of the page */
    right: 30px; 
    z-index: 99; 
    background: var(--danger-color); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 90px; 
  }
  #topBtn:hover {
    background: #d74c3a; /* Add a dark-grey background on hover */
  }